/** * Sydney desktop navigation */
 #mainnav2 {
	 display: block;
	 float: right;
	 -webkit-transition: all 0.3s linear;
	 -moz-transition: all 0.3s linear;
	 -ms-transition: all 0.3s linear;
	 -o-transition: all 0.3s linear;
	 transition: all 0.3s linear;
	/* Icons */
}

@media only screen and (max-width: 767px) {

  #mainnav2 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

}

 #mainnav2 ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 #mainnav2 li {
	 float: left;
	 padding: 0 14px;
}
 #mainnav2 ul ul li {
	 padding: 0;
}
 #mainnav2 ul li a {
	 position: relative;
	 display: block;
	 font-size: 14px;
	 font-family: "Raleway", sans-serif;
	 color: #fff;
	 font-weight: 500;
	 text-decoration: none;
	 outline: none;
}
 #mainnav2 ul li a:hover {
	 color: #d65050;
}
 #mainnav2 ul ul a {
	 width: 180px;
	 font-family: "Source Sans Pro", sans-serif !important;
}
 #mainnav2 > ul > li:last-child {
	 padding-right: 0;
}
 #mainnav2 ul li {
	 position: relative;
}
 #mainnav2 ul li ul {
	 width: 180px;
	 position: absolute;
	 top: 100%;
	 left: initial;
	 opacity: 0;
	 visibility: hidden;
	 -webkit-border-radius: 0 0 2px 2px;
	 -moz-border-radius: 0 0 2px 2px;
	 -o-border-radius: 0 0 2px 2px;
	 border-radius: 0 0 2px 2px;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #mainnav2 ul li ul ul {
	 top: 0;
}
 #mainnav2 ul li ul:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 width: 100%;
	 height: 1px;
}
 #mainnav2 ul li ul ul:after {
	 top: 0;
}
 #mainnav2 ul li ul li ul {
	 left: 100%;
}
 #mainnav2 li:hover > ul {
	 opacity: 1;
	 padding-top: 10px;
	 visibility: visible;
	 left: auto;
	 display: block !important;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #mainnav2 li:hover > ul ul {
	 padding-top: 0;
	 left: 100%;
}
 #mainnav2 .sub-menu {
	 z-index: 99999;
}
 #mainnav2 .sub-menu li a {
	 color: #fff;
	 display: block;
	 line-height: 30px;
	 background: #1c1c1c;
	 padding: 0 18px;
	 border-top: 1px solid #252525;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #mainnav2 .sub-menu li:hover > a {
	 color: #fff;
}
 #mainnav2 li:hover > .sub-menu > li > a {
	 padding: 8px 18px;
}
 #mainnav2 ul li::before {
	 font-family: Fontawesome;
	 color: #fff;
	 float: left;
	 margin: 5px 5px 0 0;
	 font-size: 14px;
	 line-height: 1;
	 font-weight: 400;
}
 #mainnav2 ul li a {
	 float: left;
}
 #mainnav2 .sub-menu li:before {
	 content: '';
	 margin: 0;
	 transition: all 0.3s ease;
	 -webkit-transition: all 0.3s ease;
}
